name: Lint
on:
  push:
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      GOTOOLCHAIN: 'go1.25.0'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.0'
          cache: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6.2
          install-mode: goinstall
          args: --disable-all --enable=gofmt --enable=gofumpt --enable=misspell
      - name: Print versions
        run: |
          golangci-lint version || true
          go version
